body {
  font-family: Verdana;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #472610;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  margin-right: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc8c8;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 12px; /* Espaçamento interno para dar forma ao botão */
  border-radius: 10px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Efeito suave na transição */
}

.nav-links a:hover {
  background-color: #a75b38; /* Cor de fundo clara ao passar o mouse */
}
